.screen {
    background-color: white;
    padding-top: 5px;
    padding-bottom: 5px ;
    padding-right: 5px;
    padding-left: 5px;
    margin-top: 15px;
    margin-bottom: 10px;
    border-style: solid;
    border-color: rgb(211,211,211);
    text-align: right;
    font-size: xx-large;
    font-family: "Georgia", serif;
    overflow: auto; 
    height:70px;
}

.max-wid{
    width: 100%;
    padding-left: 0;
    padding-right: 0;
}

.gray-case {
    background-color: 	darkgray;
    box-shadow: 2px 2px rgb(105,105,105)
}

.gray-btn {
    background-color: rgb(211,211,211)
}

.blue-btn {
    background-color: rgb(135,206,235)
}

.yellow-btn {
    background-color: rgb(255,255,204)
}

